**Q1**: How to import pandas and check the version?

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.0.5'

**Q2**: How to create a series from a numpy array?

In [5]:
import pandas as pd
import numpy as np

# To create a series from a numpy array
# we first create a numpy array 
# then pass it through the pd.Series() function

data = np.array([1,2,3,4,5])
s = pd.Series(data)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int32

**Q3**: How to convert the index of a series into a column of a dataframe?

In [30]:
import pandas as pd
# create a series 
s = pd.Series([1,2,3,4],index=['a','b','c','d']) 

# Convert series to Dataframe
# Series.to_frame() converts a series to a DataFrame
df = s.to_frame()

# when we reset the index, the old
# index is added as a coulumn and 
# a new sequenial order is used 
df.reset_index(inplace=True)

print(df)

  index  0
0     a  1
1     b  2
2     c  3
3     d  4

In [31]:
# we can check the Series.index attribute to 
# confirm that the values in the 'index' coulmn of the dataframe
# are the index values of the series
print(s.index)

Index(['a', 'b', 'c', 'd'], dtype='object')

**Q4**: Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset

In [34]:
import seaborn as sns 
# list all dataset names
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [37]:
load_mpg = sns.load_dataset('mpg')
load_mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

**Q5**: Which country origin cars are a part of this dataset?

In [38]:
load_mpg['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)

As seen above, the mpg dataset has cars originating from the countries of USA and Japan, and the continent of Europe.

**Q6**: Extract the part of the dataframe which contains cars belonging to 'usa'

In [45]:
usa_cars = load_mpg.loc[load_mpg['origin']=='usa','name']
usa_cars

0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
392             chevrolet camaro
393              ford mustang gl
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 249, dtype: object